* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  background-color: #8AB0D0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  margin-top: 0px;
}
.header h1 {
  color: #455E51;
  padding: 10px;
  font-size: 2.5rem;
  font-family: "Permanent Marker", cursive;
}
.header .logo {
  margin-top: 15px;
}
.header .logo img {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header .top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header .top-nav a {
  color: #445E74;
  padding: 0 10px 10px 10px;
  font-size: 1rem;
  font-family: "Fuzzy Bubbles", cursive;
  text-decoration: none;
}
.header .top-nav a:hover {
  text-decoration: underline !important;
}

body {
  background-color: #B0CEE8;
}

main {
  background-color: #B0CEE8;
  margin: 20% 0 20% 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: 25%;
  background-color: #B9CEA1;
  border-radius: 15px;
  border: 2px solid #E5EBF0;
  padding: 5% 0 5% 0;
  font-family: "Fuzzy Bubbles", cursive;
  line-height: 1.5;
  font-size: 1rem;
  color: #445E74;
}
main .booking label {
  font-size: 1rem;
}
main .booking #name {
  border-radius: 15px;
  background-color: #E5EBF0;
  color: #445e51;
  font-size: 1rem;
}
main .booking #email {
  border-radius: 15px;
  background-color: #E5EBF0;
  color: #445e51;
  font-size: 1rem;
}
main .booking #phone {
  border-radius: 15px;
  background-color: #E5EBF0;
  color: #445e51;
  font-size: 1rem;
}
main .booking #qdiners {
  border-radius: 15px;
  background-color: #E5EBF0;
  color: #445e51;
  font-size: 1rem;
}
main .booking #date {
  border-radius: 15px;
  background-color: #E5EBF0;
  color: #445e51;
  font-size: 1rem;
  font-family: "Fuzzy Bubbles", cursive;
}
main .booking #time {
  border-radius: 15px;
  background-color: #E5EBF0;
  color: #445e51;
  font-size: 1rem;
  margin-bottom: 10%;
  font-family: "Fuzzy Bubbles", cursive;
}
main .booking .submit-booking {
  width: 80%;
  padding: 5%;
  background-color: #445E74;
  border-radius: 8px;
  text-align: center;
  transition: transform 2s;
}
main .booking .submit-booking:hover {
  border: 2px solid #e5ebf0;
  transform: scale(1.1);
}
main .booking button {
  background-color: #445E74;
  font-family: "Fuzzy Bubbles", cursive;
  color: #E5EBF0;
  font-size: 2em;
}

.sidebar {
  width: 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  bottom: 50vh;
  height: 30px;
}
.sidebar ul {
  list-style-type: none;
  background-color: #B9CEA1;
  border-radius: 0 15px 15px 0;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar ul a {
  color: #445E74;
  font-size: 2.5rem;
}

footer {
  background-color: #B9CEA1;
  padding: 20px 0 5px 0;
  line-height: 1.5em;
  font-size: 1.2rem;
}
footer p {
  text-align: center;
  color: #455E51;
}
footer p a {
  text-decoration: none;
  color: #445e51;
}
footer p a:hover {
  text-decoration: underline;
}
footer .copyright {
  font-size: 0.6rem;
  color: #445e51;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  footer iframe {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .header h1 {
    font-size: 3.5rem;
  }
  .header .logo img {
    height: 160px;
  }
  .header .top-nav a {
    font-size: 2rem;
  }
  .booking {
    font-size: 3rem;
  }
  .sidebar {
    width: 20vw;
    top: 60vh;
  }
  .sidebar ul {
    height: 50vh;
  }
  .sidebar ul a {
    font-size: 3.5rem;
  }
  footer iframe {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
  }
}

/*# sourceMappingURL=book-now.css.map */
